body {
    width: 100%;
    min-width: 992px;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(0, 150, 136);
    min-width: 100%
}

main {
    width: 100%;
    height: calc(100vh - 150px);
    background-color: rgb(217, 219, 213);
    position: relative;
}

#app {
    position: absolute;
    top: -120px;
    bottom: 30px;
    left: 50px;
    right: 50px;
    background-color: rgb(234, 234, 234);
    /* background-color: rgba(0, 0, 0, 0.2); */
    min-width: 992px;
    /* z-index: 99999999; */
}

.left-container {
    width: 35%;
    height: 100%;
    background-color: white;
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-right: 1px solid rgb(177, 177, 177);
}

.right-container {
    width: 65%;
}

.user-profile,
.contact-profile,
#write-message {
    height: 80px;
    line-height: 80px;
    background-color: rgb(234, 234, 234);
}

.user-profile-left,
.contact-profile-left {
    height: 100%;
}

.user-profile-img,
.contact-profile-img {
    height: 100%;
    border-radius: 50%;
}

.user-profile-img img,
.contact-profile-img img {
    height: 80%;
    border-radius: 50%;
}

.contact-profile-name span {
    line-height: 20px;
}

.user-profile-right i,
.contact-profile-right i {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.contact-profile-right {
    position: relative;
}

.notifications {
    height: 100px;
    padding-top: 20px;
    /* line-height: 100px; */
    background-color: rgb(142, 218, 252);
}

.notification-bell {
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.notification-bell>i {
    font-size: 20px;
    color: rgb(142, 218, 252);
}

.search-bar {
    height: 60px;
    padding: 10px 10px;
    line-height: 60px;
    background-color: rgb(250, 250, 250);
}

.fa-magnifying-glass,
#last-message,
#last-message-time,
#last-access {
    color: rgb(177, 177, 177);
}

#last-message-time {
    vertical-align: text-bottom;
    font-size: 12px;
}

.left-container>.user-list {
    max-height: calc(100% - 240px);
    overflow-y: auto;
}

.left-container>.user-list>ul>li {
    list-style-type: none;
    border: 1px solid rgb(233, 235, 235);
}

.left-container>.user-list>ul>li:hover {
    background-color: rgb(233, 235, 235);
}

.bg-grey {
    background-color: grey;
}

.left-user-list>.user-list-avatars>img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#chat-area {
    height: calc(100% - 160px);
    overflow-y: auto;
    background: url(img/mine.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}

.emoticons i,
.microphone i {
    color: rgb(107, 115, 118)
}

.chat-messages {
    position: relative;
    margin: 20px 10px 0px 10px;
    width: fit-content;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    padding-top: 10px;
    border-radius: 10px;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.sent {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}

.message-time {
    font-size: 10px;
    color: rgb(177, 177, 177);
    align-self: flex-end;
}

.message-wrapper {
    position: relative;
}

.message-info {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: white;
    z-index: 999;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

/* .show-message-info{
    display: block;
} */

.message-info span {
    padding: 5px;
    display: block;
    /* border: 1px solid rgb(233, 235, 235); */
    cursor: pointer;
    text-align: center;
}

.chat-icon {
    position: absolute;
    top: -5px;
    right: 15px;
    display: none;
    cursor: pointer;
}

.chat-messages:hover .chat-icon {
    display: block;
}

i {
    cursor: pointer;
}

#drop-down-menu {
    height: 150px;
    width: 150px;
    background-color: white;
    z-index: 99999;
    position: absolute;
    top: 80px;
    right: 0px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#drop-down-menu span {
    height: 75px;
    cursor: pointer;
}

.dark-mode {
    filter: invert(1);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1042px) {
    main {
        height: calc(100vh - 167px);
    }
}