header {
    height: 150px;
    background-color: rgb(0, 150, 136);
}

main {
    height: calc(100vh - 150px);
    background-color: rgb(217, 219, 213);
    position: relative;
}

#app {
    position: absolute;
    top: -120px;
    bottom: 30px;
    left: 50px;
    right: 50px;
    background-color: rgb(234, 234, 234);
    min-width: 992px;
}

.left-container {
    width: 35%;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgb(177, 177, 177);
}

.right-container {
    width: 65%;
}

.user-profile,
.contact-profile,
#write-message {
    height: 80px;
    line-height: 80px;
    background-color: rgb(234, 234, 234);
}

.user-profile-left,
.contact-profile-left {
    height: 100%;
}

.user-profile-img,
.contact-profile-img {
    height: 100%;
    border-radius: 50%;
}

.user-profile-img img,
.contact-profile-img img {
    height: 80%;
    border-radius: 50%;
}

.contact-profile-name span {
    line-height: 20px;
}

.user-profile-right i,
.contact-profile-right i {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.notifications {
    height: 100px;
    padding-top: 20px;
    /* line-height: 100px; */
    background-color: rgb(142, 218, 252);
}

.notification-bell {
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.notification-bell>i {
    font-size: 20px;
    color: rgb(142, 218, 252);
}

.search-bar {
    height: 60px;
    padding: 10px 10px;
    line-height: 60px;
    background-color: rgb(250, 250, 250);
}

.fa-magnifying-glass,
#last-message,
#last-message-time,
#last-access {
    color: rgb(177, 177, 177);
}

.left-container>.user-list {
    max-height: calc(100% - 240px);
    overflow-y: scroll;
}

.left-container>.user-list>ul>li {
    list-style-type: none;
    border: 1px solid rgb(233, 235, 235);
}

.left-container>.user-list>ul>li:hover {
    background-color: rgb(233, 235, 235);
}

.left-user-list>.user-list-avatars>img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#chat-area {
    height: calc(100% - 160px);
    /* max-height: calc(100% - 160px); */
    /* min-height: 300px; */
    overflow-y: scroll;
    background: url(img/mine.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.emoticons i,
.microphone i {
    color: rgb(107, 115, 118)
}

.chat-messages {
    margin-top: 20px;
    width: fit-content;
    height: 50px;
    border-radius: 20px;
    /* line-height: 50px; */
    /* background-color: white; */
}

.received {
    background-color: white;
    align-self: flex-start;
}

.sent {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}